#maingrid {
  display: block;
  border: 1px solid #208c7d;
  background-color: white;
  margin: 0 auto;
}
.controlers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}
.button {
  display: block;
  margin: 1rem 1rem;
  background-color: #9f42dd;
  color: white;
  border: 0px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
  width: 9rem;
  box-shadow: 1px 1px 30px 2px #9f42dd4b;
}
.btn-reset {
  display: block;
  margin: 1rem 1rem;
  background-color: #9f42dd;
  color: white;
  border: 0px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
  opacity: 0.9;
  box-shadow: 1px 1px 20px 1px #9f42dd69;
}
.btn-reset:disabled {
  background-color: #e1b7fd;
  color: white;
  opacity: 0.4;
  box-shadow: none;
}
.btn-allreset {
  display: block;
  margin: 1rem 1rem;
  background-color: red;
  color: white;
  border: 0px;
  padding: 0.6rem;
  border-radius: 0.4rem;
  transition: all 0.2s ease;
  opacity: 0.9;
  box-shadow: 1px 1px 20px 1px rgba(255, 0, 0, 0.335);
}
.btn-allreset:disabled {
  background-color: rgb(255, 115, 115);
  color: white;
  opacity: 0.4;
}
.button:active {
  opacity: 0.8;
}
.button-toggle {
  background-color: #0e0054;
  border: 2px solid rgb(12, 8, 51);
  transition: all 0.5s;
  box-shadow: 1px 1px 30px 2px #0e005483;
}

.counter {
  border-radius: 5px;
  box-shadow: 1px 1px 50px rgba(0, 0, 255, 0.315);
  width: 8rem;
}
